{
	auto_https off
	frankenphp
	order php_server before file_server
}

:80 {
	log {
		output stdout
		format json
	}

	route {
		encode zstd br gzip

		# User Static Files
		handle /static* {
			uri strip_prefix /static
			root * data/user_content/static/
			file_server
		}

		# PHP application
		handle {
			root * public/
			try_files {path} /index.php?url={uri}
			php_server
		}
	}
}
