{% extends 'layout.twig' %}

{% block siteTitle %}TinyCMS
{% endblock %}

{% block title %}My Website
{% endblock %}

{% block body %}
	<h1>Welcome to My Website</h1>
	<p>This is a basic example of a Twig template with Bootstrap 5.</p>
{% endblock %}
